body {
  width: auto;
}
.container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
li {
  font-size: 25px;
  color: rgb(61, 1, 61);
  padding: 10px;
}
.characteristics {
  background-color: rgba(231, 193, 250, 0.432);
}
.items {
  background-color: rgba(231, 193, 250, 0.432);
}
.teamItems {
  background-color: rgba(231, 193, 250, 0.432);
}
form {
  display: inline-flex;
  justify-content: space-between;
}
h2 {
  color: rgb(61, 1, 61);
  padding: 5px 20px;
}
input {
  width: 90px;
  margin-right: 5px;
  height: 37px;
  background-color: rgba(216, 191, 216, 0);
  border-radius: 15px;
}
::placeholder {
  color: black;
  text-align: center;
  font-size: 17px;
}
button {
  background-color: rgb(218, 211, 255);
  border: rgb(61, 1, 61) solid;
  border-radius: 15px;
  width: 90px;
  height: 37px;
  text-align: center;
  font-size: 20px;
}
button:hover {
  background-color: rgb(61, 1, 61);
  color: rgb(218, 211, 255);
}
input:hover {
  background-color: rgb(183, 157, 212);
  color: rgb(218, 211, 255);
}
html {
  background-image: url(https://i.ytimg.com/vi/W2BO-LtoMgs/maxresdefault.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.logout {
  text-align: center;
}
@media (min-width: 736px) and (max-width: 799px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  h2 {
    font-size: 20px;
  }
  li {
    font-size: 20px;
  }
  input {
    width: 50px;
    height: 27px;
  }
  button {
    width: 50px;
    height: 27px;
    font-size: 15px;
  }
  ::placeholder {
    font-size: 15px;
  }
  .logout {
    width: 60px;
    height: 40px;
    font-size: 15px;
  }
}
@media (min-width: 376px) and (max-width: 735px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  h2 {
    font-size: 15px;
  }
  li {
    font-size: 15px;
  }
  input {
    width: 30px;
    height: 17px;
  }
  button {
    width: 30px;
    height: 17px;
    font-size: 10px;
  }
  ::placeholder {
    font-size: 10px;
  }
  .logout {
    width: 50px;
    height: 30px;
    font-size: 10px;
  }
}
@media (max-width: 375px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  h2 {
    font-size: 20px;
  }
  li {
    font-size: 20px;
  }
  input {
    width: 50px;
    height: 27px;
  }
  button {
    width: 50px;
    height: 27px;
    font-size: 10px;
  }
  ::placeholder {
    font-size: 10px;
  }
  .logout {
    width: 60px;
    height: 40px;
    font-size: 13px;
  }
}
